.sectionSobre {
  margin-block: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sectionSobre img {
  width: 30%;
  max-width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.textSobre {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textSobre h1 {
  text-align: center;
  margin-bottom: 5px;
  font-size: clamp(1.8rem, 4vw, 2.7rem);
}

.textSobre p {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
}
.textSobre button {
  cursor: pointer;
  width: 150px;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 8px;
  transition: 0.3s linear;
}
.textSobre button:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
@media (max-width: 420px) {
  .sectionSobre {
    flex-direction: column;
  }
  .sectionSobre img {
    width: 95%;
    max-height: 300px;
  }
  .textSobre {
    width: 95%;
    padding: 0;
  }
  .textSobre h1 {
    font-size: 1.5rem;
  }
  .textSobre p {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .sectionSobre {
    flex-direction: column;
  }
  .sectionSobre img {
    width: 90%;
  }
  .textSobre {
    width: 90%;
    padding: 0;
    margin-top: 20px;
  }
  .textSobre h1 {
    font-size: 1.6rem;
  }
  .textSobre p {
    text-align: justify;
    padding: 10px;
  }
}

@media (max-width: 862px) {
  .sectionSobre {
    flex-direction: column;
  }
  .sectionSobre img {
    width: 90%;
  }
  .textSobre {
    width: 100%;
  }
  .textSobre h1 {
    font-size: 2rem;
  }
}
