header {
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1f1a1a;
  color: #fff;
}

header .nav {
  width: 30%;
}

.nav.open {
  display: block;
  transition: 0.5s linear;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

ul li,
ul li a {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  color: #fff;
  transition: 0.3s ease-in-out;
}

li a:hover {
  color: #e1ad3d;
}

.menuMobile {
  background-color: transparent;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  /* display: flex; */
  display: none;
}

@media (max-width: 860px) {
  header {
    justify-content: space-between;
    padding-inline: 20px;
  }

  .menuMobile {
    display: flex;
  }

  header .nav {
    display: flex;
    flex-direction: column;

    height: 50vh;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #1f1a1a;
    border-bottom: 1px solid #ccc;
    display: none;
    z-index: 1;
  }

  .nav ul {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
